    /* flex布局
     */
    .flex {
        display: flex;

    }

    .column {
        flex-direction: column;
    }

    .flex1 {
        flex: 1;
    }

    .baise {
        background-color: white;
    }

    .mrg10px {
        margin-top: 10px;
    }