* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/%E8%83%8C%E6%99%AF.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

li {
    /* 取消无须列表的点 */
    list-style: none;
}

.box {
    width: 1000px;
    height: 320px;
    margin: 0px auto;
    /* 溢出隐藏 */
    overflow: hidden;
    transition: all 0.3s;
    border: 1px solid #fff;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box li {
    float: left;
    position: relative;
    width: 199px;
    height: 320px;
    transition: all 0.3s;
}

.box li .text {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
}

.box:hover li {
    width: 64px;
}

.box li:hover {
    width: 640px;
}

.start {
    font-size: 25px;
    color: #fff;
    /*设置背景的线性渐变，（左上到右下）*/
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.1));
    border-radius: 10px;
    height: 20px;
    line-height: 0px;
    width: 90px;
    text-align: center;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0px 3px 3px 4px;
    position: relative;
}

.start a {
    text-decoration: none;
    color: #fff;
}

/* 页头 */
.header {
    height: 115px;
    width: 1000px;
    margin: 110px auto;
    margin-bottom: 20px;
}

.header img {
    height: 100%;
    margin-left: -50px;
}